

body{
    background-image: url('./website_background.jpg');
    background-repeat: no-repeat;
    background-size : cover;
    font-family :'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color : #222;
}


.skilist{
    width : 90vw;
    max-width : 1170px;
    margin : 5rem auto;
    display: grid;
    gap : 2rem;
}

@media screen and (min-width:768px){
    
    .skilist{
        grid-template-columns: repeat(3, 1fr);
        align-items : start;
    }
}
    
.ski_element{
    background : #fff;
    border-radius : 1rem;
    padding : 2rem;
    text-align : center;
    position : relative;
}


.ski_element img {
    width : 100%;
    object-fit : cover;
}

.ski_element h2{
    margin-top : 1rem;
    font-size:1rem;
    background-color: #0092d2;
    border-radius: 3rem;
    padding : 1rem;
    color : white;
    box-shadow: 10px;
}


.ski_element p{
    margin : 1rem 0 0.5rem;
}

h1 {
    padding-top : 20px;
    text-align : left;
    margin: 2rem;
}


.udbuttons button{
    margin : 0.2rem;
    padding : 0.7rem;
    border-radius : 0.6rem;
    background: #f4f5e2;
    border: none;
}

.udbuttons :hover {
    background : #0092d2;
    color : white;
}

.scrollable {
    margin-top : 60px;
    height: 550px;
    overflow-y: scroll;
}

.scrollable::-webkit-scrollbar {
    width: 10px;
    background-color: none;
    border-radius : 12px;
  }

.scrollable::-webkit-scrollbar-thumb {
    border-radius : 12px;
    background-color: #f06553;
  }

  .addBtn {
    position : absolute;
    left : 2rem;
    background-color: #0fa10f;
    padding : 10px;
    border-radius: 2rem;
    border: none;
    color : white;

  }

  