.form{
    display : grid;
    position : absolute;
    top : 0%;
    left : 50%;
    transform: translate(-50%,50%);
    background : white;
    padding : 10px;
    border-radius: 1rem;
}

.form input {
    padding : 10px;
    margin : 5px;
    width : 350px;
    border: 2px solid black;
    border-radius : 0.2rem;
}

.form button{
    padding : 10px;
    border : none;
    background-color: #0092d2;
    color : white;
    border-radius : 0.2rem;
    margin : 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#file{
    border : none;
}

input::file-selector-button {
    background-color: #0092d2;
    padding: 0.5em;
    border: none;
    border-radius: 3px;
    color : white;
}

h3{
margin : 5px;
}